body{
	margin: 0px;
}

#banner{
	background-color: grey;
	border: solid 1px black;
	height: 140px;
	}

#sigil{
	color: white;
	width: 360px;
	position: relative;
	left: 100px;
}

#navBar{
	position: relative;
	background-color: white;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;
	width: 452px;
	left: 65%;
}

li{
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
}
